RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*?)/?$ $1.php [L]
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php/[? ].*$"
RewriteRule .* - [L,R=404]
RewriteRule ^game/players/(.+) game/playersLogic.php [L]
RewriteRule ^users/(.+) userLogic.php [L]